<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

  <mapper namespace="ticket.dao.face.AdminBoardDao">
  
  
  <resultMap type="ticket.dto.Notice" id="notice">
  	<result column="notice_idx" property="noticeIdx" />
  	<result column="user_idx" property="userIdx" />
  	<result column="n_type_idx" property="NTypeIdx" />
  	<result column="notice_title" property="noticeTitle" />
  	<result column="notice_content" property="noticeContent" />
  	<result column="create_date" property="createDate" />  
  </resultMap>

	<resultMap type="ticket.dto.NoticeFile" id="noticeFile">
		<result column="nofile_idx" property="noFileIdx"/>
		<result column="stored_name" property="storedName"/>
		<result column="origin_name" property="originName"/>
		<result column="notice_idx" property="noticeIdx"/>
		<result column="create_date" property="createDate"/>  	
	</resultMap>

  <select id="selectNotiList" resultMap="notice" parameterType="ticket.utils.Paging">
  	select * from ( 
  		select rownum rnum, B.* from (
  			select * from notice
  		) B
  		order by notice_idx desc
  	) R
  	where R.rnum between #{startNo} AND #{endNo}
  	order by rnum
  </select>
  
  <select id="selectCntAll" resultType="int">
  	select count(*) cut from(
  		select * from notice
  	) cnt
  </select>
  
  <select id="selectNotiView" resultMap="notice">
  	select * from notice
  		where notice_idx = #{notice_idx}
  </select>


  <insert id="insertNoti" parameterType="ticket.dto.Notice">
  	insert into notice (notice_idx,  n_type_idx, notice_title , notice_content) 
  			values (notice_seq.nextval, #{NTypeIdx}, #{noticeTitle} , #{noticeContent})
  </insert>

	
  <select id="selectNoticeBynoticeIdx" resultMap="notice">
  	select * from notice
  		where notice_idx = #{noticeIdx}
  </select>
	
  <update id="updateNoti" parameterType="ticket.dto.Notice">
	  UPDATE notice set n_type_idx = #{NTypeIdx}, notice_title = #{noticeTitle}, notice_content = #{noticeContent} 
	  where notice_idx = #{noticeIdx}
  </update>


  <delete id="deleteNoti" parameterType="ticket.dto.Notice">
    	delete notice where notice_idx = #{noticeIdx}
  </delete>



	<insert id="insertNotiFile" parameterType="ticket.dto.NoticeFile">	
		insert into notice_file (nofile_idx, stored_name, origin_name, notice_idx) 
		values (notice_file_seq.nextval, #{storedName }, #{originName }, #{noticeIdx })
	</insert>


	<select id="selectNotiFileAll" resultMap="noticeFile">
		select * from notice_file order by nofile_idx
	</select>

	<select id="selectByNoFileIdx" parameterType="int" resultMap="noticeFile">
		select * from notice_file where nofile_idx = #{noFileIdx}
	</select>

  </mapper>
  
  
  
  
  
  
  
  
  
  