<?xml version="1.0" encoding="UTF-8"?>

<!-- 마이바티스 3 매퍼 DOCTYPE -->
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ticket.dao.face.CategoryFamDao">
	<insert id="insert" parameterType="ticket.dto.CategoryFam">
		INSERT INTO category_Fam
		(cate_fam_idx,pfm_idx)VALUES(CATEGORY_fam_SEQ.nextval,#{pfmIdx})

	</insert>
	<delete id="delete" parameterType="ticket.dto.CategoryFam">
		DELETE FROM category_fam WHERE
		pfm_idx=#{pfmIdx}
	</delete>
	
	<select id="selectAllCnt" resultType="int">
		SELECT COUNT(*) FROM category_fam
	</select>
</mapper>