<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="ticket.dao.face.MainDao">
	
	<resultMap type="ticket.dto.Theme" id="Theme">
		<result column="theme_name" property="themeName"/>
		<result column="theme_idx" property="themeIdx"/>
	</resultMap>
	
	<resultMap type="ticket.dto.Poster" id="Poster">
		<result column="poster_idx" property="posterIdx"/>
		<result column="pfm_idx" property="pfmIdx"/>
		<result column="origin_name" property="originName"/>
		<result column="stored_name" property="storedName"/>
		<result column="create_date" property="createDate"/>
	</resultMap>
	
	<!-- 상단 배너 -->
	<select id="selectAdminBanCon" resultMap="Poster">
			SELECT
				poster_idx
				, pfm_idx
				, origin_name
				, stored_name
				, create_date
			FROM poster_info
			WHERE pfm_idx IN (
			    SELECT pfm_idx as pfmIdx FROM performance
			    WHERE pfm_idx IN (
			        SELECT pfm_idx as pfmIdx FROM category_con
			    )
			)
	</select>
	
	<select id="selectAdminBanMu" resultMap="Poster">
		SELECT
			poster_idx
			, pfm_idx
			, origin_name
			, stored_name
			, create_date
		FROM poster_info
		WHERE pfm_idx IN (
			SELECT pfm_idx as pfmIdx FROM performance
			WHERE pfm_idx IN (
				SELECT pfm_idx as pfmIdx FROM category_mu
			)
		)
	</select>
	
	<select id="selectAdminBanFam" resultMap="Poster">
		SELECT
			poster_idx
			, pfm_idx
			, origin_name
			, stored_name
			, create_date
		FROM poster_info
		WHERE pfm_idx IN (
			SELECT pfm_idx as pfmIdx FROM performance
			WHERE pfm_idx IN (
				SELECT pfm_idx as pfmIdx FROM category_fam
			)
		)
	</select>
	
	<!-- 전체 출력 -->
	<select id="selectConPfmPosterInfo" resultType="ticket.dto.Poster">
	SELECT 
		po.origin_name originName
		,po.pfm_idx pfmIdx
		,po.stored_name poster_name ,pp.*
	FROM (
    	SELECT ROWNUM as rnum, p.* FROM (
       		SELECT  * FROM performance
               WHERE genre_idx = 1
               ORDER BY pfm_idx
    	) p
	)pp
       LEFT JOIN poster_info po
       ON pp.pfm_idx = po.pfm_idx
		
<!-- 		SELECT -->
<!-- 			poster_idx as posterIdx, -->
<!-- 			pfm_idx as pfmIdx, -->
<!-- 			origin_name as originName, -->
<!-- 			stored_name as storedName, -->
<!-- 			create_date as createDate -->
<!-- 		FROM poster_info -->
<!-- 		WHERE pfm_idx IN ( -->
<!-- 		    SELECT pfm_idx FROM performance -->
<!-- 		    WHERE genre_idx=1 -->
<!-- 		) -->
	</select>
	
	<select id="selectMuPfmPosterInfo" resultType="ticket.dto.Poster">
		SELECT 
		po.origin_name originName
		,po.pfm_idx pfmIdx
		,po.stored_name poster_name ,pp.*
	FROM (
    	SELECT ROWNUM as rnum, p.* FROM (
       		SELECT  * FROM performance
               WHERE genre_idx = 2
               ORDER BY pfm_idx
    	) p
	)pp
       LEFT JOIN poster_info po
       ON pp.pfm_idx = po.pfm_idx
	</select>
	
	<select id="selectFamPfmPosterInfo" resultType="ticket.dto.Poster">
		SELECT 
		po.origin_name originName
		,po.pfm_idx pfmIdx
		,po.stored_name poster_name ,pp.*
	FROM (
    	SELECT ROWNUM as rnum, p.* FROM (
       		SELECT  * FROM performance
               WHERE genre_idx = 3
               ORDER BY pfm_idx
    	) p
	)pp
       LEFT JOIN poster_info po
       ON pp.pfm_idx = po.pfm_idx
	</select>
	
	<!-- 선택 테마 리스트 출력 -->	
	<select id="ConThemeChoice" parameterType="String" resultMap="Poster">
		SELECT
		    p.pfm_idx
		    , p.name
		    , pi.origin_name
		FROM(
		    SELECT * FROM performance
		    WHERE pfm_idx IN (
		        SELECT pfm_idx
		        FROM pfm_theme
		        WHERE theme_idx=#{themeIdx}
		)) p
		LEFT JOIN poster_info pi
		ON p.pfm_idx = pi.pfm_idx
	</select>
	
	<!-- 콘서트 정렬기준 - 마감임박순( 출력해주면됨 ) -->
	<select id="selectDeadlindListPfm" resultMap="Poster">
		SELECT
		    p.pfm_idx
		    , p.name
		    , po.origin_name
		FROM (
		    SELECT * FROM performance
		    WHERE genre_idx=1
		    ORDER BY ROUND(ABS(SYSDATE-ticket_end),0)
		) p
		LEFT JOIN poster_info po
		    ON p.pfm_idx = po.pfm_idx
	</select>
	
	<!-- 콘서트 정렬기준 - 최신순 -->
	<select id="selectLatestListPfm" resultMap="Poster">
		SELECT
		    p.pfm_idx
		    , p.name
		    , po.origin_name
		FROM(
		    SELECT * FROM performance
		    WHERE genre_idx=1
		    ORDER BY ticket_start DESC
		) p
		LEFT JOIN poster_info po
		    ON p.pfm_idx = po.pfm_idx
	</select>
	
	<!-- 콘서트 정렬기준 - 인기순 -->
	<select id="selectPopularityListPfm" resultMap="Poster">
		
	</select>
	
</mapper>