<?xml version="1.0" encoding="UTF-8"?>

<!-- 마이바티스 3 매퍼 DOCTYPE -->
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

  <mapper namespace="ticket.dao.face.MyChoiceDao">
  
  <resultMap type="ticket.dto.MyChoice" id="MyChoiceMap">
  	<result column="choice_idx" property="choiceIdx"/>
  	<result column="user_idx" property="userIdx"/>
  	<result column="pfm_idx" property="pfmIdx"/>
  	<result column="create_date" property="createDate"/>
  </resultMap>
  
  <select id="selectChoiceList" parameterType="int" resultMap="MyChoiceMap">
	SELECT  
	    choice_idx
	    , user_idx
	    , M.pfm_idx
	    , M.create_date
	    , (SELECT stored_name FROM poster_info PI WHERE M.pfm_idx = PI.pfm_idx) posterImg
	    ,  name pfmName
	    , ticket_start ticketStart
	    , ticket_end ticketEnd 
	    , CASE
            WHEN to_date(sysdate ,'yy/MM/dd')-to_date(ticket_end,'yy/MM/dd')>0 THEN '판매완료'
            WHEN to_date(sysdate ,'yy/MM/dd')-to_date(ticket_start,'yy/MM/dd')>0 THEN '판매중'
            ELSE '판매예정' end salestate
	FROM my_choice M
	INNER JOIN performance P
	ON M.pfm_idx = P.pfm_idx
	WHERE user_idx = #{userIdx }
	ORDER BY ticket_start
  </select>
  
  <insert id="insert" parameterType="ticket.dto.MyChoice">
  	<selectKey keyProperty="choiceIdx" resultType="int" order="BEFORE">
  		SELECT my_choice_seq.nextval FROM dual
  	</selectKey>
  	
  	INSERT INTO my_choice( choice_idx, user_idx, pfm_idx)
  	VALUES (#{choiceIdx }, #{userIdx }, #{pfmIdx })
  
  </insert>
  
  <select id="selectCntChoice" parameterType="ticket.dto.MyChoice" resultType="int">
  	SELECT COUNT(*) 
  	FROM my_choice 
  	WHERE user_idx =#{userIdx } 
  		AND pfm_idx=#{pfmIdx }
  </select>
  
  
  <delete id ="delete" parameterType="ticket.dto.MyChoice">
  	DELETE FROM my_choice
  	WHERE user_idx =#{userIdx } 
  		AND pfm_idx=#{pfmIdx }
  </delete>
  
  
  
  
  
  
  
  
  
  
  </mapper>