<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 매퍼 설정 -->
<mapper namespace="ticket.dao.face.PaymentDao">
	<insert id="insertPayment"
		parameterType="ticket.dto.PaymentInfo">
		<selectKey resultType="int" keyProperty="payIdx"
		order="BEFORE">
			SELECT PAYMENT_SEQ.nextval FROM DUAL
		</selectKey>
		INSERT INTO payment
		(PAY_IDX,IMP_UID,
		MERCHANT_UID,PAY_METHOD,
		PFM_IDX,PAID_AMOUNT,BUYER_NAME,BUYER_EMAIL,USER_IDX)VALUES (
		#{payIdx},#{impUid},#{merchantUid},
		#{payMethod},#{pfmIdx},#{paidAmount},#{buyerName},#{buyerEmail},#{userIdx})
	</insert>

	<delete id="deletePayment"
		parameterType="ticket.dto.PaymentInfo">
		DELETE FROM payment WHERE imp_uid=#{impUid}
	</delete>
	<select id="selectBypayIdx"
		parameterType="ticket.dto.PaymentInfo"
		resultType="ticket.dto.PaymentInfo">
		SELECT pay_Idx payIdx,imp_uid impUid,merchant_uid
		merchantUid, pay_method payMethod,pfm_idx pfmIdx, paid_amount
		paidAmount ,buyer_name buyerName ,user_idx userIdx,create_date
		createDate FROM payment WHERE pay_idx=#{payIdx}
	</select>
</mapper>


