<?xml version="1.0" encoding="UTF-8"?>

<!-- 마이바티스 3 매퍼 DOCTYPE -->
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ticket.dao.face.PfmDao">

	<resultMap type="ticket.dto.Genre" id="Genre">
		<result column="genre_idx" property="genreIdx"/>
		<result column="genre" property="genre"/>
	</resultMap>
	
	<resultMap type="ticket.dto.Theme" id="Theme">
		<result column="theme_idx" property="themeIdx"/>
		<result column="theme_name" property="themeName"/>
		<result column="genre_idx" property="genreIdx"/>
	</resultMap>
	
	<resultMap type="ticket.dto.Performance" id="Performance">
		<result column="pfm_idx" property="pfmIdx"/>
		<result column="name" property="name"/>
		<result column="genre_idx" property="genreIdx"/>
		<result column="pfm_start" property="pfmStart"/>
		<result column="pfm_end" property="pfmEnd"/>
		<result column="ticket_start" property="ticketStart"/>
		<result column="ticket_end" property="ticketEnd"/>
		<result column="hall_idx" property="hallIdx"/>
		<result column="age_grade_idx" property="ageGradeIdx"/>
		<result column="running_time" property="runningTime"/>
		<result column="create_date" property="createDate"/>
		<result column="poster_name" property="posterName"/>
	</resultMap>

	<select id="selectAllGenre" resultMap="Genre">
		SELECT genre_idx, genre
		FROM genre
		ORDER BY genre_idx
	</select>

	<select id="selectAllTheme" parameterType="ticket.dto.Genre" resultMap="Theme">
		SELECT theme_idx, theme_name, genre_idx
		FROM theme
		WHERE genre_idx = #{genreIdx }
		ORDER BY theme_idx
	</select>
	
	<select id="selectAllAgeGrade" resultType="ticket.dto.AgeGrade">
		SELECT age_grade_idx as ageGradeIdx, age_limit as ageLimit  
		FROM age_grade
		ORDER BY age_grade_idx
	</select>
	
	<select id="selectArtistByName" resultType="ticket.dto.Artist">
		SELECT 
			aa.artist_idx as artistIdx,
			aa.theme_idx as themeIdx, 
			aa.name as name, 
			aa.img_uri as imgUri 
		FROM (
    		SELECT ROWNUM as rnum, a.* FROM (
       			SELECT  * FROM artist
                WHERE name LIKE '%${artist.name }%'
    		) a
		)aa
		WHERE rnum BETWEEN #{paging.startNo } AND #{paging.endNo }
		ORDER BY rnum
	</select>
	
	<select id="selectAllHall" parameterType="ticket.dto.Hall" resultType="ticket.dto.Hall">
		SELECT 
			hall_idx hallIdx,
			hall_name hallName,
			hall_loc hallLoc,
			hall_phone hallPhone,
			create_date createDate
		FROM hall
		ORDER BY hall_name
	</select>
	
  	<insert id="insertPfm" parameterType="ticket.dto.Performance">
		<selectKey keyProperty="pfmIdx" resultType="int" order="BEFORE">
			SELECT performance_seq.nextval FROM DUAL
		</selectKey>
		
		INSERT INTO performance(pfm_idx ,name ,genre_idx ,pfm_start ,pfm_end 
			,ticket_start ,ticket_end ,hall_idx ,age_grade_idx ,running_time )
		VALUES (#{pfmIdx }, #{name }, #{genreIdx }, '2018-08-01', '2018-08-02'
			, #{ticketStart }, #{ticketEnd }, #{hallIdx }, #{ageGradeIdx }, #{runningTime })
		
	</insert>
  
	<select id="selectTodayBook" resultType="int">
		SELECT COUNT(*) FROM book
		WHERE to_char(create_date, 'yy/mm/dd') = to_char(SYSDATE, 'yy/mm/dd')
			AND (book_cate_idx = 1 OR book_cate_idx = 2)
	</select>
	
	<select id="selectTodayCancel" resultType="int">
		SELECT COUNT(*) FROM book
		WHERE to_char(create_date, 'yy/mm/dd') = to_char(SYSDATE, 'yy/mm/dd')
			AND (book_cate_idx = 3 OR book_cate_idx = 4)
	</select>
	
	<select id="selectTodayAllPfm" resultType="int">
		SELECT COUNT(*) FROM performance
		WHERE to_char(create_date, 'yy/mm/dd') = to_char(SYSDATE, 'yy/mm/dd')
	</select>
	
	<select id="selectTodayCon" resultType="int">
		SELECT COUNT(*) FROM performance
		WHERE genre_idx = 1
		AND to_char(create_date, 'yy/mm/dd') = to_char(SYSDATE, 'yy/mm/dd')
	</select>
	
	<select id="selectTodayMu" resultType="int">
		SELECT COUNT(*) FROM performance
		WHERE genre_idx = 2
		AND to_char(create_date, 'yy/mm/dd') = to_char(SYSDATE, 'yy/mm/dd')
	</select>
	
	<select id="selectTodayFam" resultType="int">
		SELECT COUNT(*) FROM performance
		WHERE genre_idx = 3
		AND to_char(create_date, 'yy/mm/dd') = to_char(SYSDATE, 'yy/mm/dd')
	</select>
	
	<select id="selectUnanswered" resultType="int">
		SELECT COUNT(*) FROM inquiry
		WHERE reply_status = 1
	</select>
	
	<insert id="insertPfmTheme" parameterType="ticket.dto.PfmTheme">
		INSERT INTO pfm_theme(pfm_theme_idx ,pfm_idx ,theme_idx)
		VALUES (pfm_theme_seq.nextval, #{pfmIdx }, #{themeIdx } )
	</insert>
	
	<insert id="insertPoster" parameterType="ticket.dto.Poster">
		INSERT INTO poster_info (poster_idx , pfm_idx , origin_name , stored_name )
		VALUES (poster_info_seq.nextval, #{pfmIdx }, #{originName }, #{storedName })
	</insert>
	
	<insert id="insertCast" parameterType="ticket.dto.Cast">
		INSERT INTO cast (cast_idx ,pfm_idx ,artist_idx)
		VALUES (cast_seq.nextval, #{pfmIdx }, #{artistIdx })
	</insert>
	
	<insert id="insertPfmDbt" parameterType="ticket.dto.PfmDateByTime">
		INSERT INTO pfm_datebytime(pfm_dbt_idx ,pfm_idx ,pfm_date ,pfm_time)
		VALUES (pfm_datebytime_seq.nextval, #{pfmIdx }, #{pfmDate }, #{pfmTime })
	</insert>
	
	<insert id="insertPfmDetail" parameterType="ticket.dto.PfmDetail">
	 	INSERT INTO pfm_detail(pfm_detail_idx ,pfm_idx ,contents)
	 	VALUES (pfm_detail_seq.nextval, #{pfmIdx }, #{contents })
	</insert>
	
	<insert id="insertPfmBookinfo" parameterType="ticket.dto.PfmBookinfo">
	 	INSERT INTO pfm_bookinfo(pfm_bookinfo_idx ,pfm_idx ,contents)
	 	VALUES (pfm_bookinfo_seq.nextval, #{pfmIdx }, #{contents })
	</insert>
	
	<select id="selectCntArtist" parameterType="ticket.dto.Artist"
		resultType="int">
		SELECT 
			count(*)
		FROM artist
		WHERE name LIKE '%${name }%'
	</select>
	
	<select id="selectAllCntPfmByGenre" parameterType="int" resultType="int">
		SELECT count(*)
		FROM performance
		WHERE genre_idx = #{genreIdx }
	</select>
	
	<select id="selectPfmByGenre" resultMap="Performance">
		SELECT 
			po.stored_name poster_name ,pp.*
		FROM (
    		SELECT ROWNUM as rnum, p.* FROM (
       			SELECT  * FROM performance
                WHERE genre_idx = #{genreIdx }
                ORDER BY pfm_idx
    		) p
		)pp
        LEFT JOIN poster_info po
        ON pp.pfm_idx = po.pfm_idx
		WHERE rnum BETWEEN #{paging.startNo } AND #{paging.endNo }
		ORDER BY rnum
	</select>
	
</mapper>