<?xml version="1.0" encoding="UTF-8"?>
<!-- 마이바티스 3 매퍼 DOCTYPE -->
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="ticket.dao.face.PosterDao">
	<insert id="insert" parameterType="ticket.dto.Poster">
		INSERT INTO POSTER_INFO
		(poster_idx,pfm_idx,origin_name,stored_name)VALUES
		(poster_info_seq.nextval,PERFORMANCE_seq.nextval,#{originName},
		#{storedName})
	</insert>

	<select id="selectBygenreIdx" parameterType="int"
		resultType="ticket.dto.Poster">
		SELECT c.pfm_idx pfmIdx,c.name,
		p.origin_name originName
		,p.stored_name storedName
		FROM performance c, poster_info p
		WHERE
		c.genre_idx=#{genreIdx} AND p.pfm_idx=c.pfm_idx
	</select>

	<select id="selectBypfmIdx" 
		resultType="ticket.dto.Poster">
		SELECT c.pfm_idx pfmIdx,
		p.origin_name originName ,p.stored_name storedName
		FROM category_con c ,poster_info p
		WHERE p.pfm_idx=c.pfm_idx
	</select>
</mapper>