<?xml version="1.0" encoding="UTF-8"?>

<!-- 마이바티스 3 매퍼 DOCTYPE -->
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

  <mapper namespace="ticket.dao.face.PreferADao">
  
  <resultMap type="ticket.dto.Artist" id="ArtistMap">
  	<result column="artist_idx" property="artistIdx"/>
  	<result column="img_uri" property="imgUri"/>
  	<result column="theme_idx" property="themeIdx"/>
  </resultMap>

  <resultMap type="ticket.dto.PreferArtist" id="PreferArtistMap">
  	<result column="pre_artist_idx" property="preArtistIdx"/>
  	<result column="artist_idx" property="artistIdx"/>
  	<result column="user_idx" property="userIdx"/>
  	<result column="name" property="artistName"/>
  	<result column="create_date" property="createDate"/>
  </resultMap>
  
  <select id="selectArtistByTheme" resultMap="ArtistMap" parameterType="hashmap">
  	SELECT 
  		artist_idx
  		, theme_idx
  		, name
  		, img_uri
  	FROM artist
          
  	<if test="ptList != null">
  		WHERE theme_idx IN
  			<foreach collection="ptList" item="theme" open="(" close=")" separator=",">
  				#{theme.themeIdx}
  			</foreach>
  	</if>
  	  		
  </select>
  
  <select id ="selectPreferArtistByUserIdx" parameterType="int" resultMap="PreferArtistMap">
 	SELECT 
  		pre_artist_idx
  		, artist_idx
  		, user_idx
  		, (SELECT name FROM artist A WHERE A.artist_idx = PA.artist_idx) name
  		, create_date
  	FROM prefer_artist PA
  	
  	WHERE user_idx= #{userIdx }
  
  </select>
  
  <insert id="insertPreferArtist" parameterType="ticket.dto.PreferArtist">
  
  	<selectKey keyProperty="preArtistIdx" resultType="int" order="BEFORE">
  		SELECT prefer_artist_seq.nextval FROM dual
  	</selectKey>
  	
 	INSERT INTO  prefer_artist (
 		pre_artist_idx
  		, artist_idx
  		, user_idx
 	) VALUES (
 		#{preArtistIdx }, #{artistIdx }, #{userIdx })
  </insert>
  
  <delete id="deleteByUserIdx" parameterType="int">
  	DELETE FROM prefer_artist
  	WHERE user_idx = #{userIdx }
  </delete>
  
  <select id="selectArtistByUserIdx" parameterType="hashmap" resultMap="ArtistMap">
    
    SELECT * FROM (
    SELECT rownum rnum, C.* FROM ( 
        SELECT * FROM artist A
        INNER JOIN prefer_artist PA
        ON A.artist_idx = PA.artist_idx
        WHERE user_idx= #{userIdx }
        ORDER BY a.name 
        ) C
    ORDER BY rnum
    )
    WHERE rnum BETWEEN #{paging.startNo } AND #{paging.endNo }
  
  </select>
  
  <select id ="selectArtistBySearch" parameterType="String" resultMap="ArtistMap">
  	SELECT * 
  	FROM artist 
  	WHERE name LIKE  '%' || #{name} || '%'
  
  </select>
  </mapper>
  
  
  
  