<?xml version="1.0" encoding="UTF-8"?>

<!-- 마이바티스 3 매퍼 DOCTYPE -->
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

  <mapper namespace="ticket.dao.face.PreferADao">
  
  <resultMap type="ticket.dto.Artist" id="ArtistMap">
  	<result column="artist_idx" property="artistIdx"/>
  	<result column="img_uri" property="imgUri"/>
  	<result column="theme_idx" property="themeIdx"/>
  </resultMap>

  <resultMap type="ticket.dto.PreferArtist" id="PreferArtistMap">
  	<result column="pre_artist_idx" property="preArtistIdx"/>
  	<result column="artist_idx" property="artistIdx"/>
  	<result column="user_idx" property="userIdx"/>
  	<result column="create_date" property="createDate"/>
  </resultMap>
  
  <select id="selectArtistByTheme" resultMap="ArtistMap" parameterType="hashmap">
  	SELECT 
  		artist_idx
  		, theme_idx
  		, name
  		, img_uri
  	FROM artist
          
  	<if test="ptList != null">
  		WHERE theme_idx IN
  			<foreach collection="ptList" item="theme" open="(" close=")" separator=",">
  				#{theme.themeIdx}
  			</foreach>
  	</if>
  	  		
  </select>
  
  <select id ="selectArtistByUserIdx" parameterType="int" resultMap="PreferArtistMap">
  	SELECT 
  		pre_artist_idx
  		, artist_idx
  		, user_idx
  		, create_date
  	FROM prefer_artist
  	
  	WHERE user_idx= #{userIdx }
  
  </select>
  
  </mapper>