<?xml version="1.0" encoding="UTF-8"?>

<!-- 마이바티스 3 매퍼 DOCTYPE -->
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

  <mapper namespace="ticket.dao.face.PreferTDao">
  
  <resultMap type="ticket.dto.Theme" id="ThemeMap">
  	<result column = "theme_idx" property="themeIdx"/>
  	<result column = "theme_name" property="themeName"/>
  	<result column = "genre_idx" property="genreIdx"/>
  </resultMap>
  
   <resultMap type="ticket.dto.PreferTheme" id="PreferThemeMap">
  	<result column = "prefer_theme_idx" property="preThemeIdx"/>
  	<result column = "user_idx" property="userIdx"/>
  	<result column = "theme_idx" property="themeIdx"/>
  	<result column = "create_date" property="createDate"/>
  </resultMap>
  
  <select id="selectAll" resultMap="ThemeMap">
  	SELECT theme_idx , theme_name, genre_idx 
  	FROM theme
  </select>
  
  <insert id="insertTheme" parameterType="ticket.dto.PreferTheme">
	<selectKey resultType="int" keyProperty="preThemeIdx" order="BEFORE">
		SELECT prefer_theme_seq.nextval FROM dual
	</selectKey>

	INSERT INTO prefer_theme (
		pre_theme_idx
		,user_idx
		,theme_idx
		) 
	VALUES ( #{preThemeIdx }, #{userIdx },#{themeIdx } )
  
  </insert>
  
  <delete id="deleteTheme" parameterType="int">
  	DELETE prefer_theme WHERE user_idx = #{userIdx }
  </delete>
  
  </mapper>