<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="ticket.dao.face.TicketDao">

 <resultMap type="ticket.dto.PfmDateByTime" id="dateTimeMap">
	<result column="pfm_dbt_idx" property="pfmDbtIdx"/>
	<result column="pfm_idx" property="pfmIdx"/>
	<result column="pfm_date" property="pfmDate"/>
	<result column="pfm_time" property="pfmTime"/>
	<result column="create_date" property="createDate"/>
</resultMap>

<resultMap type="ticket.dto.OriginSection" id="oriSecMap">
	<result column="ori_sec_idx" property="oriSecIdx"/>
	<result column="hall_idx" property="hallIdx"/>
	<result column="sec_name" property="secName"/>
</resultMap>

<resultMap type="ticket.dto.SeatSection" id="seatSectionMap">
	<result column="sec_idx" property="secIdx"/>
	<result column="hall_idx" property="hallIdx"/>
	<result column="pfm_idx" property="pfmIdx"/>
	<result column="ori_sec_idx" property="oriSecIdx"/>
	<result column="app_sec" property="appSec"/>
	<result column="sec_pay" property="secPay"/>
	<result column="create_date" property="createDate"/>
</resultMap>

<resultMap type="ticket.dto.Seat" id="seatMap">
	<result column="seat_idx" property="seatIdx"/>
	<result column="seat_row" property="seatRow"/>
	<result column="seat_col" property="seatCol"/>
	<result column="ori_sec_idx" property="oriSecIdx"/>
	<result column="hall_idx" property="hallIdx"/>
	<result column="seat_floor" property="seatFloor"/>
</resultMap>

<resultMap type="ticket.dto.Book" id="bookMap">
	<result column="book_idx" property="bookIdx"/>
	<result column="book_group" property="bookGroup"/>
	<result column="pfm_idx" property="pfmIdx"/>
	<result column="user_idx" property="userIdx"/>
	<result column="book_cate_idx" property="bookCateIdx"/>
	<result column="pfm_dbt_idx" property="pfmDbtIdx"/>
	<result column="seat_idx" property="seatIdx"/>
	<result column="receive_idx" property="receiveIdx"/>
	<result column="imp_uid" property="impUid"/>
	<result column="create_date" property="createDate"/>
	<result column="cancel_date" property="cancelDate"/>
</resultMap>


<select id="selectDates" parameterType="ticket.dto.Performance" resultMap="dateTimeMap">
	select pfm_date from pfm_dateBytime WHERE pfm_idx = #{pfmIdx} GROUP BY pfm_date
</select>

<select id ="selectDateTime" parameterType="ticket.dto.Performance" resultMap="dateTimeMap">
	select pfm_idx,pfm_date,pfm_time from pfm_dateBytime WHERE pfm_idx= #{pfmIdx}
</select>

<select id="selectOriSecByHallIdx" parameterType="ticket.dto.Hall" resultMap="oriSecMap">
	select ori_sec_idx, hall_idx, sec_name from originsection where hall_idx = #{hallIdx}
</select>

<select id ="selectSeatSectionByPfmIdx" parameterType="ticket.dto.Performance" resultMap="seatSectionMap">
	SELECT
	    sec.sec_idx,
	    sec.hall_idx,
	    sec.ori_sec_idx,
	    sec.app_sec,
	    sec.sec_pay,
	    sec.create_date,
	    orisec.sec_name as oriSecName
	FROM
	    seatsection sec
	    LEFT JOIN originsection orisec ON sec.ori_sec_idx = orisec.ori_sec_idx
	WHERE
	    pfm_idx = #{pfmIdx}
</select>


<select id="selectCntSectionByPfmIdx" parameterType="ticket.dto.Performance" resultType="String">
	Select DISTINCT app_sec from seatsection
</select>

<select id ="selectSeatsByHallIdx" parameterType="java.util.Map" resultMap="seatMap">
	select * from seat where hall_idx = #{hall.hallIdx} AND ori_sec_idx = #{oriSecIdx} 
</select>

<select id="selectMaxRow" parameterType="int" resultType="int">
	select max(seat_row) from seat where ori_sec_idx =#{oriSecIdx}
</select>

<select id="selectMaxCol" parameterType="int" resultType="int">
	select max(seat_col) from seat where ori_sec_idx =#{oriSecIdx}
</select>

<select id = "selectSection" parameterType="ticket.dto.Performance" resultMap="seatSectionMap">
	select app_sec from SEATSECTION where pfm_idx =${pfmIdx} group by app_sec
</select>

<select id ="selectDayByTimeIdx" resultType="int">
	select pfm_dbt_idx from PFM_DATEBYTIME where pfm_idx=#{pfmIdx} and pfm_date=#{date} and pfm_time=#{time}
</select>

<select id ="selectOriSecIdx" resultType="int">
	select ori_sec_idx from originSection where hall_idx=#{hallIdx} AND sec_name=#{secName}
</select>

<select id = "selectSeatIdx" resultType="int">
	select seat_idx from seat where hall_idx = #{hallIdx} and ori_sec_idx = #{oriSecIdx} and seat_row = #{seatRow} and seat_col = #{seatCol}
</select>

<insert id="insertBook" parameterType="ticket.dto.Book">
 	<selectKey  resultType="int" keyProperty="bookIdx" order="BEFORE">
  		SELECT BOOK_SEQ.nextval FROM dual
  	</selectKey>

	INSERT INTO book(
	    book_idx, 
	    book_group, 
	    pfm_idx, 
	    user_idx, 
	    book_cate_idx, 
	    pfm_dbt_idx, 
	    seat_idx, 
	    receive_idx, 
	    imp_uid
	) VALUES(#{bookIdx},#{bookGroup},#{pfmIdx},#{userIdx},#{bookCateIdx},#{pfmDbtIdx},#{seatIdx},#{receiveIdx},#{impUid})
</insert>

<insert id="insertShipment" parameterType="ticket.dto.Shipment">
<selectKey  resultType="int" keyProperty="shipIdx" order="BEFORE">
  		SELECT Shipment_SEQ.nextval FROM dual
  	</selectKey>

	INSERT INTO shipment(
	    ship_idx, 
	    book_group, 
	    name, 
	    phone, 
	    postcode, 
	    addr, 
	    addr_detail
	) VALUES(#{shipIdx},#{bookGroup},#{name},#{phone},#{postcode},#{addr},#{addrDetail})

</insert>

<!-- 예매한 좌석 불러오기 -->
<select id="selectBookedseats" resultMap="seatMap">
	SELECT
	    seat.seat_row,
	    seat.seat_col
	FROM
	    book 
	    LEFT JOIN seat ON book.seat_idx = seat.seat_idx
	    LEFT JOIN originsection ON seat.ori_sec_idx = originsection.ori_sec_idx
	WHERE
	    book.pfm_idx = #{pfm.pfmIdx} 
	    AND
	    originsection.sec_name = #{secName}
	    AND
	    book.pfm_dbt_idx = #{dateByTimeIdx}
	    AND
	    book.book_cate_idx = 2
</select>

<select id="selectCntBookedSeats" resultType="ticket.dto.NumBookedSeat">
	SELECT
	    sec.app_sec as appSec,
	    count(*) as cnt
	FROM
	    book b
	    LEFT JOIN seat s ON b.seat_idx = s.seat_idx
	    LEFT JOIN seatsection sec ON s.ori_sec_idx = sec.ori_sec_idx
	where 
	    sec.pfm_idx = ${pfm.pfmIdx} and b.book_cate_idx = #{bookCateIdx} and b.pfm_dbt_idx = ${pfmDbtIdx}
	group by sec.app_sec

</select>

<select id ="selectCntAllSeats" parameterType="ticket.dto.Performance" resultType="ticket.dto.NumBookedSeat">
	SELECT
	    sec.app_sec appSec,
	    sec.sec_pay secPay,
	    count(*) cnt
	FROM
	    seat s
	    LEFT JOIN seatsection sec ON s.ori_sec_idx = sec.ori_sec_idx
	WHERE
	    s.hall_idx = ${hallIdx} and sec.pfm_idx=${pfmIdx}
	GROUP BY
	   sec.app_sec,sec.sec_pay
</select>


</mapper>