<?xml version="1.0" encoding="UTF-8"?>
<!-- 마이바티스 3 매퍼 DOCTYPE -->
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

  <mapper namespace="ticket.dao.face.UserDao">
  
  <resultMap type="ticket.dto.User" id="UserMap">
	<result column="user_idx" property="userIdx"/>
	<result column="addr_detail" property="addrDetail"/>
	<result column="create_date" property="createDate"/>
</resultMap>
  
  <resultMap type="ticket.dto.User" id="AdminUserListMap">
  	<result column=""/>
  	
  </resultMap>
  
  <sql id="selectCnt">
  	SELECT COUNT(*) FROM userinfo
  </sql>
  
  	<select id="selectCntUser" parameterType="ticket.dto.User" resultType="int">
		 <include refid="selectCnt"/>
		  where 1=1
		  <if test = "email != null and email != ''">
		  	AND email = #{email}
		  </if>
		  <if test = "password != null and password != ''">
		  	AND password = #{password}
		  </if>
	 </select>
	 
  <select id ="selectUser" parameterType="ticket.dto.User" resultMap="UserMap">
  	select * from userinfo where email = #{email}
  </select>
  
  <select id ="selectUserByEmail" parameterType="String" resultType="int">
  	<include refid="selectCnt"/>
  	WHERE email = #{email }
  </select>
  
    <select id ="selectUserByNick" parameterType="String" resultType="int">
  		<include refid="selectCnt"/>
  		WHERE nick = #{nick }
   </select>
  
  <insert id="insert" parameterType="ticket.dto.User">
  <selectKey  resultType="int" keyProperty="userIdx" order="BEFORE">
  	SELECT USERINFO_SEQ.nextval FROM dual
  </selectKey>
  
  INSERT INTO userinfo (
	 user_idx
	,email
	,nick
	,password
	,name
	,sex
	,birth
	,phone
	,addr
	,addr_detail
	,postcode
	,m_grade_idx
	,profile
	)
	VALUES ( 
		#{userIdx },#{email } ,#{nick },#{password },#{name },#{sex },#{birth },#{phone }
		,#{addr },#{addrDetail },#{postcode },#{mGradeIdx },#{profile }
	)
  
  </insert>
  
  
  <select id="selectCntUserBySearch" parameterType="String" resultType="int">
  	SELECT COUNT(*) FROM userinfo
  	<if test = "userListSearch != null">
  		WHERE email LIKE #{userListSearch}
  		OR nick LIKE #{userListSearch}
  	</if>
  </select>
  
  <select id="selectPagingUserListByPaging" parameterType="ticket.utils.Paging" resultType="ticket.dto.User">
  		SELECT ROWNUM NO, B.* FROM(
  			SELECT u.email, u.nick, sum(p.paid_amount) amount, count(p.paid_amount) totalCnt, u.create_date as createDate, u.m_grade_idx as mGradeIdx
  			FROM userinfo u JOIN payment p
  			ON u.user_idx = p.user_idx(+)
  			<if test = "search != null &amp;&amp; ''.equals(search)">
  				WHERE email = #{value} OR nick = #{search}
  			</if>
  			GROUP BY u.email, u.nick, u.create_date, u.m_grade_idx
  			ORDER BY u.create_date desc) B
  </select>
  </mapper>
  
  
  
  
  